.pokemon-card {
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;

  &__image {
    height: 220px;
  }

  &__title {
    text-transform: capitalize;
  }

  &__abilities {}
}

