.pokemon-card {
  background-color: $Color-main-white;
  border: 3px solid $Color-main-gray;
  border-radius: 15px;
  padding: 20px;

  &__image {
    height: 220px;
    width: 220px;
  }

  &__title {
    color: $Color-main-gray;
    text-transform: capitalize;
    font-size: 30px;
    margin: 20px 0 20px;
  }

  &__description {
    align-items: center;
    min-height: 100px;
  }

  &__types {
    margin-bottom: 10px;
  }

  transition: all 0.3s;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.types {
  &__not {
    color: $Color-main-gray;
    font-size: 18px;
  }

  &__button {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.table {
  box-sizing: border-box;
  color: $Color-main-gray;
  width: 100%;
  margin-bottom: 20px;
}

.table td {
  border-collapse: collapse;
  border: 1px solid $Color-main-gray;
  border-radius: 5px;
  padding: 5px;
  table-layout:fixed;
  width:20px;
  overflow:hidden;
  word-wrap:break-word;
}
