.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(12, 1fr);

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 40px;

    @include onMobile {
      grid-template-columns: 1fr;
    }
  }
}
